<config template="android (default)" platform="android">Created: Tue Aug 5 17:54:09 2014&#xd;
By: Kasten&#xd;
Using Template: android (default)&#xd;
&#xd;
&lt;description to go here><option name="android-icon-dir" value="" fromDef="true"/>
    <option name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true"/>
    <option name="android-icon-gallery" value="" fromDef="true"/>
    <option name="android-icon-nonstandard" value="" fromDef="true"/>
    <option name="android-external-res" value="" fromDef="true"/>
    <option name="android-install-location" value="1" fromDef="true"/>
    <option name="android-pkgname" value="com.GameThrive.GameThriveExample" fromDef="true"/>
    <option name="icon" value="icons" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="false"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="GameThriveExample" fromDef="true"/>
    <option name="caption" value="GameThriveExample" fromDef="true"/>
    <option name="provider" value="GameThrive" fromDef="true"/>
    <option name="copyright" value="(C) GameThrive" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="android-manifest" value="" fromDef="true"/>
    <option name="android-custom-activity" value="" fromDef="true"/>
    <option name="android-extra-manifest" value="" fromDef="true"/>
    <option name="android-extra-application-manifest" value="" fromDef="true"/>
    <option name="android-extra-strings" value="" fromDef="true"/>
    <option name="android-supports-gl-texture" value="" fromDef="true"/>
    <option name="android-unsigned" value="" fromDef="true"/>
    <option name="android-tm" value="" fromDef="true"/>
</config>
