<config platform="android" template="android (default)">Created: Tue Aug 5 17:54:09 2014&#xd;&#xd;
By: Kasten&#xd;&#xd;
Using Template: android (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="true" name="android-icon-dir" value=""/>
    <option fromDef="true" name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>"/>
    <option fromDef="true" name="android-icon-gallery" value=""/>
    <option fromDef="true" name="android-icon-nonstandard" value=""/>
    <option fromDef="true" name="android-external-res" value=""/>
    <option fromDef="true" name="android-install-location" value="1"/>
    <option fromDef="true" name="android-pkgname" value="com.GameThrive.GameThriveExample"/>
    <option fromDef="true" name="android-external-assets" value=""/>
    <option fromDef="false" name="icon" value="icons"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="GameThriveExample"/>
    <option fromDef="true" name="caption" value="GameThriveExample"/>
    <option fromDef="true" name="provider" value="GameThrive"/>
    <option fromDef="true" name="copyright" value="(C) GameThrive"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="android-manifest" value=""/>
    <option fromDef="true" name="android-custom-activity" value=""/>
    <option fromDef="true" name="android-extra-manifest" value=""/>
    <option fromDef="true" name="android-extra-application-manifest" value=""/>
    <option fromDef="true" name="android-extra-strings" value=""/>
    <option fromDef="true" name="android-supports-gl-texture" value=""/>
    <option fromDef="true" name="android-unsigned" value=""/>
    <option fromDef="true" name="android-tm" value=""/>
</config>
