<config platform="iphone" template="iphone (default)">Created: Tue Aug 5 17:54:09 2014&#xd;&#xd;
By: Kasten&#xd;&#xd;
Using Template: iphone (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="false" name="iphone-application-type" value="&quot;universal&quot;"/>
    <option fromDef="false" name="iphone-appid" value="com.hiptic.GameThriveExample3"/>
    <option fromDef="true" name="iphone-minimum-ios-version" value="4.3"/>
    <option fromDef="true" name="iphone-show-status-bar" value=""/>
    <option fromDef="true" name="iphone-uiviewcontroller-based-status-bar" value=""/>
    <option fromDef="true" name="iphone-icon-dir" value=""/>
    <option fromDef="true" name="iphone-prerendered-icon" value=""/>
    <option fromDef="true" name="iphone-icon-extra" value=""/>
    <option fromDef="true" name="iphone-skip-icon-generation" value=""/>
    <option fromDef="true" name="iphone-skip-launch-generation" value=""/>
    <option fromDef="true" name="iphone-launch-dir" value=""/>
    <option fromDef="true" name="iphone-launch-storyboard" value=""/>
    <option fromDef="true" name="iphone-launch-extra" value=""/>
    <option fromDef="false" name="icon" value="icons"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="GameThriveExample"/>
    <option fromDef="true" name="caption" value="GameThriveExample"/>
    <option fromDef="true" name="provider" value="GameThrive"/>
    <option fromDef="true" name="copyright" value="(C) GameThrive"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="itunes-artwork" value=""/>
    <option fromDef="true" name="iphone-region" value="English"/>
    <option fromDef="true" name="iphone-info-plist" value=""/>
    <option fromDef="true" name="iphone-persistent-wifi" value=""/>
    <option fromDef="true" name="iphone-backgroundmode-audio" value=""/>
    <option fromDef="true" name="iphone-app-fonts" value=""/>
    <option fromDef="true" name="iphone-bundle-localisations" value=""/>
    <option fromDef="true" name="iphone-bundle-url-name" value=""/>
    <option fromDef="true" name="iphone-bundle-url-schemes" value=""/>
    <option fromDef="false" name="iphone-nosign" value=""/>
    <option fromDef="false" name="iphone-sign-for-distribution" value=""/>
    <option fromDef="false" name="iphone-provisioning-profile" value="../../../../../Downloads/iOS_Team_Provisioning_Profile_comhipticGameThriveExample3.mobileprovision"/>
    <option fromDef="true" name="iphone-signing-identity" value=""/>
</config>
