<config template="iphone (default)" platform="iphone">Created: Tue Aug 5 17:54:09 2014&#xd;
By: Kasten&#xd;
Using Template: iphone (default)&#xd;
&#xd;
&lt;description to go here><option name="iphone-application-type" value="&quot;universal&quot;" fromDef="false"/>
    <option name="iphone-appid" value="com.hiptic.GameThriveExample3" fromDef="false"/>
    <option name="iphone-icon-dir" value="" fromDef="true"/>
    <option name="iphone-icon-7-group" value="-76;&lt;none>;-120;&lt;none>;-76@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-icon-7-search-group" value="-Small;&lt;none>;-Small-40;&lt;none>;-Small@2x;&lt;none>;-Small-40@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-prerendered-icon" value="" fromDef="true"/>
    <option name="iphone-splash-dir" value="" fromDef="true"/>
    <option name="iphone-splash-group-iphone" value="~iphone;&lt;none>;@2x~iphone;&lt;none>;-568h@2x~iphone;&lt;none>" fromDef="true"/>
    <option name="iphone-splash-group-ipad" value="-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>" fromDef="true"/>
    <option name="iphone-show-status-bar" value="" fromDef="true"/>
    <option name="icon" value="icons" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="false"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="GameThriveExample" fromDef="true"/>
    <option name="caption" value="GameThriveExample" fromDef="true"/>
    <option name="provider" value="GameThrive" fromDef="true"/>
    <option name="copyright" value="(C) GameThrive" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="itunes-artwork" value="" fromDef="true"/>
    <option name="iphone-icon-group" value=";&lt;none>;-72;&lt;none>;@2x;&lt;none>;-72@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-icon-search-group" value="-Small;&lt;none>;-Small-50;&lt;none>;-Small@2x;&lt;none>;-Small-50@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-nosign" value="" fromDef="false"/>
    <option name="iphone-sign-for-distribution" value="" fromDef="false"/>
    <option name="iphone-provisioning-profile" value="../../../../../Downloads/iOS_Team_Provisioning_Profile_comhipticGameThriveExample3.mobileprovision" fromDef="false"/>
    <option name="iphone-signing-identity" value="" fromDef="true"/>
    <option name="iphone-region" value="English" fromDef="true"/>
    <option name="iphone-info-plist" value="" fromDef="true"/>
    <option name="iphone-persistent-wifi" value="" fromDef="true"/>
    <option name="iphone-backgroundmode-audio" value="" fromDef="true"/>
    <option name="iphone-app-fonts" value="" fromDef="true"/>
    <option name="iphone-bundle-localisations" value="" fromDef="true"/>
    <option name="iphone-bundle-url-name" value="" fromDef="true"/>
    <option name="iphone-bundle-url-schemes" value="" fromDef="true"/>
</config>
