<config platform="project" template="project (default)">Created: Tue Aug 5 17:54:08 2014&#xd;&#xd;
By: Kasten&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="false" name="icon" value="icons"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="false" name="name" value="GameThriveExample3"/>
    <option fromDef="false" name="caption" value="GameThriveExample3"/>
    <option fromDef="true" name="provider" value="GameThrive"/>
    <option fromDef="true" name="copyright" value="(C) GameThrive"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
