<config template="project (default)" platform="project">Created: Tue Aug 5 17:54:08 2014&#xd;&#xd;
By: Kasten&#xd;&#xd;
Using Template: project (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option name="icon" value="icons" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="false"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="GameThriveExample3" fromDef="false"/>
    <option name="caption" value="GameThriveExample3" fromDef="false"/>
    <option name="provider" value="GameThrive" fromDef="true"/>
    <option name="copyright" value="(C) GameThrive" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
