<config platform="wp81" template="wp81 (default)">Created: Fri Sep 19 15:02:06 2014
By: Kasten
Using Template: wp81 (default)

&lt;description to go here><option fromDef="true" name="wp81-publisher-display-name" value=""/>
    <option fromDef="true" name="wp81-publisher-id" value=""/>
    <option fromDef="true" name="wp81-identity-name" value=""/>
    <option fromDef="true" name="wp81-description" value=""/>
    <option fromDef="true" name="wp81-product-version" value=""/>
    <option fromDef="true" name="wp81-product-name" value=""/>
    <option fromDef="true" name="wp81-custom-manifest" value=""/>
    <option fromDef="true" name="wp81-custom-manifest-fill" value=""/>
    <option fromDef="false" name="icon" value="icons"/>
    <option fromDef="false" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="false" name="name" value="GameThriveExample3"/>
    <option fromDef="false" name="caption" value="GameThriveExample3"/>
    <option fromDef="true" name="provider" value="GameThrive"/>
    <option fromDef="true" name="copyright" value="(C) GameThrive"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="wp81-logo-image150x150" value=""/>
    <option fromDef="true" name="wp81-logo-image50x50" value=""/>
    <option fromDef="true" name="wp81-logo-image44x44" value=""/>
    <option fromDef="true" name="wp81-splash-screen-image480x800" value=""/>
    <option fromDef="true" name="wp81-splash-screen-background" value=""/>
    <option fromDef="true" name="wp81-extra-res" value=""/>
    <option fromDef="true" name="wp81-ext-capabilities" value=""/>
    <option fromDef="true" name="wp81-ext-device-capabilities" value=""/>
</config>
