<config platform="wp81" template="wp81 (default)">Created: Fri Sep 19 15:02:06 2014
By: Kasten
Using Template: wp81 (default)

&lt;description to go here><option name="wp81-publisher-display-name" fromDef="true" value=""/>
    <option name="wp81-publisher-id" fromDef="true" value=""/>
    <option name="wp81-identity-name" fromDef="true" value=""/>
    <option name="wp81-description" fromDef="true" value=""/>
    <option name="wp81-product-version" fromDef="true" value=""/>
    <option name="wp81-product-name" fromDef="true" value=""/>
    <option name="wp81-custom-manifest" fromDef="true" value=""/>
    <option name="wp81-custom-manifest-fill" fromDef="true" value=""/>
    <option name="icon" fromDef="false" value="icons"/>
    <option name="splashscreen" fromDef="false" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="false" value="GameThriveExample3"/>
    <option name="caption" fromDef="false" value="GameThriveExample3"/>
    <option name="provider" fromDef="true" value="GameThrive"/>
    <option name="copyright" fromDef="true" value="(C) GameThrive"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="wp81-logo-image150x150" fromDef="true" value=""/>
    <option name="wp81-logo-image50x50" fromDef="true" value=""/>
    <option name="wp81-logo-image44x44" fromDef="true" value=""/>
    <option name="wp81-splash-screen-image480x800" fromDef="true" value=""/>
    <option name="wp81-splash-screen-background" fromDef="true" value=""/>
    <option name="wp81-extra-res" fromDef="true" value=""/>
    <option name="wp81-ext-capabilities" fromDef="true" value=""/>
    <option name="wp81-ext-device-capabilities" fromDef="true" value=""/>
</config>
