<config template="ws80 (default)" platform="ws80">Created: Tue Aug 5 17:54:09 2014&#xd;&#xd;
By: Kasten&#xd;&#xd;
Using Template: ws80 (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option name="ws8-publisher-display-name" value="" fromDef="true"/>
    <option name="ws8-publisher-id" value="" fromDef="true"/>
    <option name="ws8-identity-name" value="" fromDef="true"/>
    <option name="ws8-description" value="" fromDef="true"/>
    <option name="ws8-product-version" value="" fromDef="true"/>
    <option name="ws8-product-name" value="" fromDef="true"/>
    <option name="ws8-custom-manifest" value="" fromDef="true"/>
    <option name="ws8-custom-manifest-fill" value="" fromDef="true"/>
    <option name="ws8-logo-image150x150" value="" fromDef="true"/>
    <option name="ws8-logo-image50x50" value="" fromDef="true"/>
    <option name="ws8-logo-image30x30" value="" fromDef="true"/>
    <option name="ws8-splash-screen-image620x300" value="" fromDef="true"/>
    <option name="ws8-splash-screen-background" value="" fromDef="true"/>
    <option name="icon" value="../marmaladeexampleresources/resources/icons" fromDef="false"/>
    <option name="splashscreen" value="../marmaladeexampleresources/resources/splashscreens" fromDef="false"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="GameThriveExample" fromDef="true"/>
    <option name="caption" value="GameThriveExample" fromDef="true"/>
    <option name="provider" value="GameThrive" fromDef="true"/>
    <option name="copyright" value="(C) GameThrive" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="ws8-distribution-cer" value="" fromDef="true"/>
    <option name="ws8-certificate-end-date" value="" fromDef="true"/>
    <option name="ws8-distribution-pfx" value="" fromDef="true"/>
    <option name="ws8-distribution-pfx-password" value="" fromDef="true"/>
    <option name="ws8-ext-capabilities" value="" fromDef="true"/>
    <option name="ws8-ext-device-capabilities" value="" fromDef="true"/>
</config>
