<config platform="ws81" template="ws81 (default)">Created: Tue Aug 5 17:54:09 2014&#xd;&#xd;
By: Kasten&#xd;&#xd;
Using Template: ws81 (default)&#xd;&#xd;
&#xd;&#xd;
&lt;description to go here><option fromDef="true" name="ws81-publisher-display-name" value=""/>
    <option fromDef="true" name="ws81-publisher-id" value=""/>
    <option fromDef="true" name="ws81-identity-name" value=""/>
    <option fromDef="true" name="ws81-description" value=""/>
    <option fromDef="true" name="ws81-product-version" value=""/>
    <option fromDef="true" name="ws81-product-name" value=""/>
    <option fromDef="true" name="ws81-custom-manifest" value=""/>
    <option fromDef="true" name="ws81-custom-manifest-fill" value=""/>
    <option fromDef="true" name="ws81-logo-image150x150" value=""/>
    <option fromDef="true" name="ws81-logo-image50x50" value=""/>
    <option fromDef="true" name="ws81-logo-image30x30" value=""/>
    <option fromDef="true" name="ws81-splash-screen-image620x300" value=""/>
    <option fromDef="true" name="ws81-splash-screen-background" value=""/>
    <option fromDef="false" name="icon" value="../marmaladeexampleresources/resources/icons"/>
    <option fromDef="false" name="splashscreen" value="../marmaladeexampleresources/resources/splashscreens"/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="GameThriveExample"/>
    <option fromDef="true" name="caption" value="GameThriveExample"/>
    <option fromDef="true" name="provider" value="GameThrive"/>
    <option fromDef="true" name="copyright" value="(C) GameThrive"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="ws81-distribution-cer" value=""/>
    <option fromDef="true" name="ws81-certificate-end-date" value=""/>
    <option fromDef="true" name="ws81-distribution-pfx" value=""/>
    <option fromDef="true" name="ws81-distribution-pfx-password" value=""/>
    <option fromDef="true" name="ws81-ext-capabilities" value=""/>
    <option fromDef="true" name="ws81-ext-device-capabilities" value=""/>
</config>
